<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="AppComponents"
                        Directory="INSTALLFOLDER">
            <Files Include="..\Branta\bin\$(Configuration)\net8.0-windows\publish\win-x64\**\*" />

            <Component Id="StartMenuFolder"
                       Guid="15F98546-06A0-4D5C-8673-9B9B5DABEADB"
                       Directory="AppProgramsFolder">
                <RemoveFolder Id="RemoveStartMenuFolder"
                              On="uninstall" />

                <RegistryValue Root="HKCU"
                               Key="Software\Branta LLC\Branta"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />

                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Branta"
                          Description="Enhance your Bitcoin custody and verify payments."
                          Target="[INSTALLFOLDER]Branta.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="BrantaIcon" />
            </Component>

            <Component Id="StartupFolder"
                       Guid="52EF4871-EFC2-4AE7-813A-1D9274912D1B"
                       Directory="StartupFolder">
                <RegistryValue Root="HKCU"
                               Key="Software\Branta LLC\Branta"
                               Name="startup"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />

                <Shortcut Id="ApplicationStartupShortcut"
                          Name="Branta"
                          Description="Enhance your Bitcoin custody and verify payments."
                          Target="[INSTALLFOLDER]Branta.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="BrantaIcon"
                          Arguments="headless" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
