<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Branta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Branta.Properties.Settings>
            <setting name="BitcoinAddressesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeedPhraseEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtendedPublicKeyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrivateKeyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NostrPublicKeyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NostrPrivateKeyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchingWalletEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WalletStatusChangeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Branta.Properties.Settings>
    </userSettings>
</configuration>